.centered {
  margin: 0 auto;
  text-align: center;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.width75 {
  width: 75%;
}

.margin10 {
  margin: 10px;
}

.validation-alert {
  color: red;
}

.expandingContainer {
  width: 50%;
  margin-bottom: 3em;
}

.bg-grey {
  background: #EEEEEE;
}

.border-round {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .expandingContainer {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .expandingContainer {
    width: 100%;
  }
}

.rounded20 {
  border-radius: 20px;
  padding: 5px;
}

/* Style des balises par defaut override */

img {
  object-fit: cover;
}

img:focus {
  outline: 0;
}

/* Bootstrap override */
.btn:focus {
  box-shadow: none !important;
}

nav button {
  min-width: 10rem;
}
