<div class="app-container">
  <nav class="navbar navbar-light bg-light">
    <button class="btn btn-outline-primary" id="rollbackButton" type="button" (click)="consult=false" *ngIf="consult===true">Précédent</button>
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="">
    </a>
    <button class="btn btn-outline-primary" id="disconnectButton" type="button" (click)="disconnect()">Se déconnecter</button>
  </nav>
  <div class="form-container">
    <form [formGroup]="prescriptionForm" (submit)="confirm()">
      <div class="form-row d-flex align-items-center">
        <div class="col-5 form-input">
          <label class="sr-only" for="inputPatientMail">Mail du patient :</label>
          <input formControlName="patient_email" type="email" class="form-control mb-2"
                 [ngClass]="{'is-invalid' : invalid_input('patient_email', 'required')}" id="inputPatientMail"
                 aria-describedby="bddHelp"
                 placeholder="Mail du patient" required *ngIf="!consult">
          <p id="consultPatientMail" class="consult-field" *ngIf="consult">{{prescriptionForm.value.patient_email}}</p>
          <div id="PatientMailNeeded" class="invalid-feedback" *ngIf="invalid_input('patient_email', 'required')">
            Indiquez le mail du patient
          </div>
        </div>
        <div class="col-5 form-input">
          <label class="sr-only" for="inputSecu">Numéro de sécurité sociale : </label>
          <input formControlName="secu" class="form-control"
                 [ngClass]="{'is-invalid' : invalid_input('secu', 'required') }" id="inputSecu"
                 placeholder="Numéro de sécurité sociale"
                 type="text" *ngIf="!consult" required>
          <p id="consultSecu" class="consult-field" *ngIf="consult">{{prescriptionForm.value.secu}}</p>
          <div id="SecuNeeded" class="invalid-feedback" *ngIf="invalid_input('secu', 'required')">
            Indiquez le numéro de sécurité sociale
          </div>
        </div>
        <div class="col-1 form-input">
          <label for="renewBox" class="sr-only">Renouvelable </label>
          <div id="renewBox" (click)="openModal()" *ngIf="!consult">
            <span *ngIf="prescriptionForm.get('renewals')?.value > 1">&#9745;</span>
            <span *ngIf="prescriptionForm.get('renewals')?.value <= 1" style="font-size: 30px">&#9634;</span>
          </div>
          <p style="width: 300px" *ngIf="consult" class="consult-field" id="consultRenew">{{prescriptionForm.get('renewals')?.value <= 1 ? '&#9634; ' : '&#9745; '+ prescriptionForm.get('max_date')?.value+', '+prescriptionForm.get('renewals')?.value + ' fois'}}</p>
        </div>
        <ng-template #renewForm>
          <div class="form-group" id="modalForm">
            <label class="sr-only" for="inputRenewals">Nombre d'utilisation</label>
            <input formControlName="renewals" class="form-control"
                   id="inputRenewals"
                   placeholder="Renouvellements"
                   type="number">
            <label class="sr-only" for="inputMaxDate">Date limite</label>
            <input formControlName="max_date" class="form-control"
                   id="inputMaxDate"
                   placeholder="Numéro de sécurité sociale"
                   type="date" required>
            <button type="button" class="btn btn-primary" (click)="closeModal()">Confirmer</button>
          </div>
        </ng-template>
      </div>
      <div class="form-row d-flex" formArrayName="prescription"
           *ngFor="let _ of prescriptions().controls; let i = index"
           id="prescription{{i}}">
        <div class="col mb-3 input-group" [formGroupName]="i">
          <div class="col-3 form-input">
            <label class="sr-only" id="labelDrugName{{i}}" for="drugName{{i}}" *ngIf="i===0">Nom du médicament</label>
            <input class="form-control" type="text" formControlName="drug_name" id="drugName{{i}}"
                   (focus)="addPrescription(i)" *ngIf="!consult">
            <p id="consultDrugName{{i}}" class="consult-field"
               *ngIf="consult">{{prescriptionForm.value.prescription[i].drug_name}}</p>
          </div>
          <div class="col-2 form-input">
            <label class="sr-only" id="labelDose{{i}}" for="dose_{{i}}" *ngIf="i===0">Posologie</label>
            <input class="form-control" type="text" id="dose_{{i}}" formControlName="dose" *ngIf="!consult">
            <p id="consultDose{{i}}" class="consult-field"
               *ngIf="consult">{{prescriptionForm.value.prescription[i].dose}}</p>

          </div>
          <div class="col-2 form-input">
            <label class="sr-only" id="labelDuration{{i}}" for="duration_{{i}}" *ngIf="i===0">Jours de
              traitement</label>
            <input class="form-control" type="number" id="duration_{{i}}" formControlName="duration" *ngIf="!consult">
            <p id="consultDuration{{i}}" class="consult-field"
               *ngIf="consult">{{prescriptionForm.value.prescription[i].duration}}</p>

          </div>
          <div class="col-3 form-input">
            <label class="sr-only" id="labelTakesPerDay{{i}}" for="takes_per_day_{{i}}" *ngIf="i===0">Prises par
              jour</label>
            <input class="form-control" type="text" id="takes_per_day_{{i}}" formControlName="takes_per_day"
                   *ngIf="!consult">
            <p id="consultTakesPerDay{{i}}" class="consult-field"
               *ngIf="consult">{{prescriptionForm.value.prescription[i].takes_per_day}}</p>

          </div>
          <button id="deleteButton{{i}}" class="btn btn-danger" type="button" *ngIf="i!==0"
                  (click)="removePrescription(i)">
            ❌
          </button>
        </div>
      </div>
      <button id="confirmButton" type="submit" class="btn btn-primary">Confirmer</button>
    </form>
  </div>
</div>
