<app-navbar [display_goBack_button]=false></app-navbar>
<h1 class="centered mt-4">Scanner une ordonnance</h1>
<form [formGroup]="prescription_form" (ngSubmit)="fetch_prescription()" class="expandingContainer centered form-group">
  <div class="mb-5">
    <h4>Numéro de l'ordonnance</h4>
    <input type="text" class="form-control border-round m-3" formControlName="prescription_id" (input)="changeField($event)" #token>
    <div *ngFor="let validation of validation_messages.prescription_id">
      <p *ngIf="invalid_input('prescription_id', validation.type)" class="validation-alert" id="prescription_id_error">{{validation.message}}</p>
    </div>
  </div>
  <div class="mb-5">
    <h4>Mot de passe de l'ordonnance</h4>
    <input type="text" class="form-control border-round m-3" formControlName="prescription_password" #password>
    <div *ngFor="let validation of validation_messages.prescription_password">
      <p *ngIf="invalid_input('prescription_password', validation.type)" class="validation-alert" id="prescription_password_error">{{validation.message}}</p>
    </div>
  </div>
  <div class="mb-5">
    <h4>Numéro de sécurité sociale du patient</h4>
    <input type="text" class="form-control border-round m-3" formControlName="patient_social_security">
    <div *ngFor="let validation of validation_messages.patient_social_security">
      <p *ngIf="invalid_input('patient_social_security', validation.type)" class="validation-alert" id="patient_social_security_error">{{validation.message}}</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary rounded20 w-25 mt-5" [disabled]="!prescription_form.valid">Valider</button>
</form>

<ng-template #doesNotExistModal>
  <div class="modal-header" id="doesNotExistModalContent" #doesNotExistModalContent>
    <h4 class="modal-title pull-left">Cette ordonnance n'existe pas</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Veuillez vérifier que toutes les informations sont correctes</p>
  </div>
  <button class="btn btn-primary centered mb-2" (click)="modalRef?.hide()">Précédent</button>
</ng-template>
