<app-navbar [display_goBack_button]=true [go_back_route]='"/scan_ordonnance"'></app-navbar>


<h1 class="centered mt-3">Ordonnance</h1>


<div class="container-grid mt-2 ml-5 mr-5">

  <div class="mr-5">
    <div class="d-flex align-content-center justify-content-between" style="min-height: 2.5rem">
      <h3>Notes</h3>
      <button class="btn-secondary btn">Éditer la note</button>
    </div>
    <hr>
    <div class="border-round p-3">
      <div class="page-height p-1">
        <div>
        </div>
      </div>
    </div>
  </div>

  <div class="ml-5">
    <div style="min-height: 2.5rem">
      <h3>Prescription</h3>
    </div>
    <hr>
    <div class="border-round p-3">
      <div class="page-height p-1">

      </div>
    </div>
  </div>

</div>


<div class="centered">
  <button class="btn btn-primary centered mt-2 w-25 big-text">Terminer</button>
</div>
