<app-navbar [display_goBack_button]=true [go_back_route]='"/scan_ordonnance"'></app-navbar>


<h1 class="centered mt-3">Ordonnance</h1>
<div class="ml-5">
  <p class="font-italic mb-0">Rédigée par {{info_ordonnance.prenom_medecin}} {{info_ordonnance.nom_medecin}} au {{info_ordonnance.Numero}} {{info_ordonnance.Rue}} {{info_ordonnance.Ville}} {{info_ordonnance.CodePostal}}</p>
  <p class="font-italic mb-0">Le {{formatDate(info_ordonnance.Date_prescription)}}, valable jusqu'au {{formatDate(info_ordonnance.Date_maximum)}}</p>
  <p *ngIf="info_ordonnance.Renouvellements > 1 && uses_left !== undefined">Renouvellable {{info_ordonnance.Renouvellements}} fois, déjà utilisée {{info_ordonnance.Renouvellements - uses_left}} fois</p>
  <p *ngIf="uses_left !== undefined && uses_left <= 0 && uses_left > -1000" class="text-danger">Cette ordonnance a déjà été entièrement délivrée. Elle n'est affichée qu'à but consultatif.</p>
  <p *ngIf="uses_left !== undefined && uses_left <= -9999" class="text-danger alert-danger w-25">Impossible de récupérer les informations concernant l'utilisation de cette ordonnance.</p>
</div>

<div class="container-grid mt-2 ml-5 mr-5">

  <div class="mr-5">
    <div class="d-flex align-content-center justify-content-between" style="min-height: 2.5rem">
      <h3>Notes</h3>
      <button class="btn-secondary btn" [routerLink]="'/ajouter_note'" *ngIf="uses_left !== undefined &&  uses_left > 0">Ajouter une note</button>
    </div>
    <hr>
    <div class="border-round p-3">
      <div class="page-height p-1">
        <div *ngFor="let note of notes">
          Le {{formatDate(note.Date_ecriture)}}
          <hr>
          {{note.Contenu}}
        </div>
      </div>
    </div>
  </div>

  <div class="ml-5">
    <div style="min-height: 2.5rem">
      <h3>Prescription</h3>
    </div>
    <hr>
    <div class="border-round p-3">
      <div class="page-height p-1">
        <div *ngFor="let line of prescription">
          <h5 class="mb-0 mr-3 d-inline">{{line.Nom_medicament}}</h5><p class="d-inline">{{line.Dosage}}</p>
          <p>{{line.Prises_par_jour}} prise{{line.Prises_par_jour > 1 ? 's' : ''}} par jour pendant {{line.Duree}} jour{{line.Duree > 1 ? 's' : ''}}</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="centered" *ngIf="uses_left !== undefined &&  uses_left > 0">
  <button class="btn btn-primary centered mt-2 w-25 big-text" [routerLink]="'/confirmer_distribution'">Terminer</button>
</div>
