.container-grid {
  display: grid;
  grid-template-columns: 33% auto;
}

.page-height {
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
}

.big-text {
  font-size: 2rem;
}

p {
  white-space: pre-wrap;
}
